
$brand-color: #3f51b5 !default;
$primary-color: $brand-color !default;



$base-border-color: #EFEFEF;


// Font
$base-font-family: 'Roboto', sans-serif !default;
$base-font-weight: 300 !default;
$font-weight-bold: 500 !default;

//Navbar
$navbar-height: 48px;